{% extends 'base.html.twig' %}
{% block body %}

{#    {% for donnee in donnees %}#}
{#        {{ dump(donnee) }}#}
{#    {% endfor %}#}

    <table>
        <tr>
            {% for key,value in donnees[0] %}
                <td>{{key|e }}</td>
            {% endfor %}
        </tr>

        {% for cat in donnees %}
            <tr>
                {% for cell in cat %}
                    <td>{{ cell|e }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}